.wrapper-main {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
.wrapper--border {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 130px;

  .wrapper--todo {
    display: flex;
    flex-direction: column;
    background: #d9d9d9;
    padding: 15px;
  }

  .wrapper--progress {
    display: flex;
    flex-direction: column;
    background: #d9d9d9;
    padding: 15px;
  }

  .wrapper--done {
    display: flex;
    flex-direction: column;
    background: #d9d9d9;
    padding: 15px;

    .wrapper--border_block_setup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .select--color {
        background: #D9D0D0;
        border: none;
        padding: 5px;

        option {
          span {
            width: 15px;
            height: 15px;
          }

        }
      }
    }
  }
}
}
